@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

*{
    margin: 2px;
    padding: 2px;
}

:root{
    --cor-principal:#ffffff;
    --cor-secundaria:#ffffff;
    --cor-do-botao:#22072F;
    --cor-do-fundo:#00030c;
}

body{
    background-color: var(--cor-do-fundo);
    color: var(--cor-principal);
}
.principal{
    background-image: url("img/divertidamente\ 1.png");
    text-align: center;
}
.container{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}

.maracuja{
    font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.morango{
    display:grid;
    grid-template-columns: 10% 80% 10%;
}

.tomate{
    width: 30%;

}

.botao{
    margin-top: 10px;
    background-color: #22072F;
    color: white;
    padding: 40px;
    border: 2px solid var(--cor-principal);
    border-radius: 5px;
    text-decoration: none;
    display:flex;
    justify-content: center;
}

.botoes{
    display:grid;
    grid-template-columns: 10% 16% 16% 16% 16% 16% 10%;

}


.secundario-imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}